.letter{
    display: inline-block;
    border: solid 1px #111;
    font-size: 20px;
    width: 1.25em;
    height: 1.5em;
    padding: .5em .25em .1em;
    vertical-align: bottom;
}
.letter + .letter {
    margin-left: .5em;
}